    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./web-admin"><h3 style="color: aliceblue;">RENTO</h3></a>
                <a class="navbar-brand hidden" href="./web-admin"><h3 style="color: aliceblue;">RENTO</h3></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/aprove"><h3 class="menu-title">aprove Product</h3></a>
                    </li> 
                    <li>
                        <a href="/table-trans"><h3 class="menu-title">Transaction</h3></a>
                    </li>
                    <li>
                        <a href="/table-prod"><h3 class="menu-title">product</h3></a>
                    </li>
                    <li>
                        <a href="/table-user"><h3 class="menu-title">User</h3></a>
                    </li>
                    <li>
                        <a href="/form-add"><h3 class="menu-title">add item</h3></a>
                    </li>
                    
                        
                    
                   
                    <h3 class="menu-title">Extras</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="/web-admin">Login</a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="/page-register">Register</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="/pages-forget">Forget Pass</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->